
ondemand
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.conda
.condarc
.config
.fluxbox
.ipython
.irods
.jupyter
.kshrc
.lmod.d
.local
.npm
.pki
.python_history
.ssh
.viminfo
.vnc
.vscode
torch/bin
torch/include
torch/lib
torch/lib64
torch/share
torch/pyvenv.cfg
torch/NN/ClassifierModels
torch/NN/models
torch/NN/pill_data
torchNew/torch/NN/pill_data
torchNew/torch/bin
torchNew/torch/include
torchNew/torch/lib
torchNew/torch/lib64
torchNew/torch/share
torchNew/torch/pyvenv.cfg
torchNew/torch/NN/ClassifierModels
torchNew/torch/NN/models
