
ondemand
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.conda
.condarc
.config
.fluxbox
.ipython
.irods
.jupyter
.kshrc
.lmod.d
.local
.npm
.pki
.python_history
.ssh
.viminfo
.vnc
.vscode
torch/bin
torch/include
torch/lib
torch/lib64
torch/share
torch/pyvenv.cfg
torch/NN/ClassifierModels
torch/NN/models
torch/NN/pill_data
torch/NN/pill_main_NIH.ipynb
torch/NN/pill_mainAE.ipynb
torch/NN/pill_cluster_NIH.ipynb
torch/NN/progress.txt
torch/NN/.ipynb_checkpoints/pill_cluster_NIH-checkpoint.ipynb
torch/NN/.ipynb_checkpoints/pill_mainAE-checkpoint.ipynb
torch/NN/.ipynb_checkpoints/pill_main_NIH-checkpoint.ipynb
torch/NN/__pycache__
torch/NN/temp.ipynb
torch/NN/.ipynb_checkpoints/temp-checkpoint.ipynb
torch/UNI/assets
torch/UNI/models
torch/UNI/notebooks
torch/UNI/uni
torch/UNI/uni.egg-info
torch/UNI/README_old.md
torch/UNI/__pycache__
torch/UNI/README.md
